<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets>
		<!-- 일반 로그 타겟 -->
		<!--<target xsi:type="File" name="generalFile" fileName="${specialfolder:folder=Desktop}/application.txt" // 파일경로:바탕화면
				layout="${longdate} [${level}] ${message}" />-->
		<target xsi:type="File" name="generalFile" fileName="logs/application.txt"
				layout="${longdate} [${level}] ${message}" />
		<!-- 오류 로그 타겟 -->
		<target xsi:type="File" name="errorFile" fileName="logs/error_log.txt"
				layout="${longdate} [${level}] ${message}" />
	</targets>
	<rules>
		<!-- 일반 로그: Info 이상 Debug 이하를 generalFile로 기록 -->
		<logger name="*" minlevel="Info" maxlevel="Warn" writeTo="generalFile" />
		<!-- 오류 로그: Error 이상을 errorFile로 기록 -->
		<logger name="*" minlevel="Error" maxlevel="Fatal" writeTo="errorFile" />
	</rules>
</nlog>
